<pre id="segment_display" style="top:0%;left:0%;position:absolute;">
    <div id="segment_info" class="segment_popup">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ segment.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>{{ segment.summary }}</li>
                    <li><b>Distance:</b> {{ segment.distance | number: '1.0-2' }} km</li>
                    <li><b>Elevation:</b> {{ segment.total_elevation_gain | number: '1.0-0' }} m</li>
                    <li><b>Profile:</b> (Avg: {{ segment.average_grade }}% | Max: {{ segment.maximum_grade }}%)</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div id="elevation_profile" class="segment_popup">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Elevation Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <canvas baseChart
                    [data]="lineChartData"
                    [type]="lineChartType"
                    [options]="lineChartOptions"
                    (chartHover)="onChartHover($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div id="pacing_calculator" class="segment_popup">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Pacing Notes</mat-card-title>
            </mat-card-header>
            <mat-card-content><p>{{ segment.pacing_notes }}</p></mat-card-content>
        </mat-card>
    </div>
    <div id="related_segments" class="segment_popup">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Related Segments</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    @for(seg of segment.related_segments; track seg.name) {
                        <li>{{ seg.name }}</li>
                    }
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</pre>