.segment-overlay-container {
  display: grid;
  grid-template-columns: 20px 1fr 20px 1fr 20px;
  grid-template-rows: 100px auto auto 1fr 100px;
  gap: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

.segment-popup {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}

#segment-info {
  grid-column: 2;
  grid-row: 2;
}

#elevation-profile {
  grid-column: 4;
  grid-row: 2;
}

#pacing-calculator {
  grid-column: 2;
  grid-row: 3;
}

#related-segments {
  grid-column: 4;
  grid-row: 3;
}

mat-card {
  height: 100%;
  background: whitesmoke;
}

mat-card-header {
  padding-bottom: 12px;
  justify-content: center;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}

.info-list,
.related-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

canvas {
  max-height: 250px;
}