:host {
  display: flex;
  flex: 1;
}

mat-toolbar {
  position:fixed;
  top:0;
  height: 3vh;
  z-index: 3
}

mat-drawer-container {
  margin-top: 3vh;
  height: 97vh;
}

/* mat-drawer {
  background: green;
} */

mgl-map {
  height: 100%;
  width: 100%;
}

.float {
  position: fixed;
  /* bottom: 1rem;
  right: 1rem;
  width: 1.5em;
  height: 1.5em; */
}

.example-container {
  width: 100%;
  overflow: clip;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: darkslategray;
}

.example-sidenav button:hover {
  background-color: yellow;
}
